<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Emily Davis</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz@1,9..144&family=Italiana&family=Jost&display=swap"
      rel="stylesheet"
    />
    <script>
      import Lenis from '@studio-freight/lenis';

      const lenis = new Lenis();

      function raf(time: number) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);
    </script>
  </head>
  <body class="bg-neutral-50 font-jost">
    <header
      class="pointer-events-none fixed inset-x-0 z-50 grid h-[100svh] content-center px-[4vw] text-center uppercase leading-none text-neutral-300 mix-blend-exclusion"
    >
      <h1 class="text-[8rem]">Emily Davis</h1>
      <p class="mt-[1.5em] text-[max(1.25vw,1rem)]">Your Style, Our Creation</p>
    </header>
    <div
      class="grid auto-rows-[10vw] grid-cols-10 [&_img]:h-full [&_img]:w-full [&_img]:object-cover"
    >
      <img
        src="/images/a.jpg"
        alt=""
        class="col-span-3 col-start-2 row-span-4"
      />
      <img
        src="/images/b.jpg"
        alt=""
        class="col-span-5 col-start-4 row-span-7 row-start-7"
      />
      <img
        src="/images/c.jpg"
        alt=""
        class="col-span-3 col-start-3 row-span-4 row-start-[13]"
      />
      <img
        src="/images/d.jpg"
        alt=""
        class="col-span-3 col-start-7 row-span-4 row-start-[18]"
      />
      <img
        src="/images/e.jpg"
        alt=""
        class="col-span-3 col-start-5 row-span-3 row-start-[25]"
      />
      <img
        src="/images/f.jpg"
        alt=""
        class="col-span-4 col-start-3 row-span-6 row-start-[30]"
      />
      <img
        src="/images/g.jpg"
        alt=""
        class="col-span-3 col-start-8 row-span-2 row-start-[39]"
      />
      <img
        src="/images/h.jpg"
        alt=""
        class="z-10 col-span-4 col-start-6 row-span-3 row-start-[44]"
      />
      <img
        src="/images/i.jpg"
        alt=""
        class="col-span-4 col-start-3 row-span-6 row-start-[46]"
      />
    </div>
  </body>
</html>
