<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Emily Davis</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz@1,9..144&family=Italiana&family=Jost&display=swap"
      rel="stylesheet"
    />
    <script>
      import Lenis from '@studio-freight/lenis';

      const lenis = new Lenis();

      function raf(time: number) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);
    </script>
  </head>
  <body class="bg-white">
    <header
      class="pointer-events-none fixed inset-x-0 grid h-[100svh] content-center px-[4vw] text-center uppercase leading-none text-neutral-300 mix-blend-exclusion"
    >
      <h1 class="text-[max(10vw,8rem)]">
        <span class="font-fraunces normal-case italic">Emily</span>
        {' '}
        <span class="font-italiana">Davis</span>
      </h1>
      <p class="mt-[1.5em] text-[max(1.25vw,1rem)]">Your Style, Our Creation</p>
    </header>
    <div>
      <img src="/images/a.jpg" alt="" />
      <img src="/images/b.jpg" alt="" />
      <img src="/images/c.jpg" alt="" />
      <img src="/images/d.jpg" alt="" />
      <img src="/images/e.jpg" alt="" />
      <img src="/images/f.jpg" alt="" />
      <img src="/images/g.jpg" alt="" />
      <img src="/images/h.jpg" alt="" />
      <img src="/images/i.jpg" alt="" />
    </div>
  </body>
</html>
